body > header{
    background-color: pink;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    position: sticky;
    top: 0;
    left: 0;

}
nav{
    width: 100%;
    font-size: 20px;
    padding-top: 10px;
}

.nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#about_image{
    width: 100%;
    height: auto; 
}

h2{
    font-size: 20px;
    padding-top: 10px;
    padding-top: 10px;
    text-align: center;
}

body{
    text-align: center;
}

footer{
    background-color: pink;
    padding-top: 10px;
    color: white;
}

.photo{
    width: 450px;
    height: 500px;
    border: 20px solid pink;

}

div.breakfast p, div.lunch p, div.dinner p, div.dinner_2 p{
    text-align: left;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1{
    font-size: 28px;
    padding-top: 20px;
}

.act_photo{
    height: 400px;
    width: 400px;
    border: 20px solid pink;
}





  
