body{
    font-family: 'Montserrat', serif;
}
body > header{
    background-color: pink;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    position: sticky;
    top: 0;
    left: 0;

}
nav{
    width: 100%;
    font-size: 20px;
    padding-top: 10px;
}

.nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#about_image{
    width: 100%;
    height: auto; 
}

h2{
    font-size: 20px;
    padding-top: 10px;
    padding-top: 10px;
    text-align: center;
}

body{
    text-align: center;
}

footer{
    background-color: pink;
    padding-top: 10px;
    color: black;
}

footer p{
    padding-bottom:10px;
}

.photo{
    width: 450px;
    height: 500px;
    border: 20px solid pink;

}

div.breakfast p, div.lunch p, div.dinner p, div.dinner_2 p{
    text-align: left;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1{
    font-size: 28px;
    padding-top: 20px;
}

.act_photo{
    height: 400px;
    width: 400px;
    border: 20px solid pink;
}

#current{
    border-top: dashed black 2px;
    border-right: dashed black 2px;
    border-left: dashed black 2px;
    color: black;
}

.beach{
    width: 450px;
    height: 450px;
}

.photo_div{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

p{
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 10px;
}

.container{
    display: grid;
}







  
